<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admirado Construcciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/home.css">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8347f32279.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <section class="top-bar-header">
            <!-- Logo -->
            <img src="img/logo.JPG" id="logo" alt="Logo">
            <!-- Navbar -->
            <nav class="navbar">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Proyectos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Quienes Somos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </section>
        <section class="bottom-bar-header">
            <!-- Carousel -->
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/carousel/carousel.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/carousel/carousel2.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/carousel/carousel3.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/carousel/carousel4.JPG" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="img/carousel/carousel5.JPG" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
    </header>
    <main>
        <section class="aboutUs">
            <!-- About us -->
            <div class="imgAboutUS">
                <h6><strong>Quienes somos</strong></h6>
                <img src="img/aboutUS.PNG" alt="about us">
            </div>
            <div>
                <h6 class="textAboutUs">
                    Somos una empresa Colombiana de construcción y remodelación
                    con trayectoria operativa adicionalmente en Ecuador creada
                    para atender necesidades integrales de arquitectura, ingeniería,
                    diseño y gestión de espacios.
                    Ofrecemos soluciones cimentadas en la experiencia de
                    nuestro personal, la innovación, creatividad y flexibilidad con lo cual
                    garantizamos calidad y entrega oportuna de cada proyecto.
                </h6>
            </div>
        </section>
        <section class="projects">
            <!-- Project Area -->
            <div>
                <h6 class="textProjects">
                    Te invitamos a visitar nuestros mas recientes proyectos
                </h6>
            </div>
            <div>
                <button class="buttonProjects">
                    <a href="#">Proyectos</a>
                </button>
            </div>
        </section>
    </main>
    <footer>
        <section class="description">
            <!-- Form and Description -->
            <div class="textContact">
                <h6><strong>Contactanos</strong></h6>
            </div>
            <div>
                <h6 class="textDescription">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit iusto enim quis odio earum
                    cupiditate, vel veritatis quidem, deserunt omnis impedit illo esse! Nesciunt distinctio iste ratione
                    itaque doloremque assumenda!
                </h6>
            </div>
            <div class="formContactContainer">
                <form action="" class="formContact">
                    <label for=""><strong>Nombre:</strong></label>
                    <input type="text">
                    <label for=""><strong>Email:</strong></label>
                    <input type="email">
                    <label for=""><strong>Dejanos tu comentario</strong></label>
                    <textarea name="comentario" id="" cols="30" rows="10"></textarea>
                    <button class="formButton" type="submit">Enviar</button>
                </form>
            </div>
        </section>
        <section class="social">
            <!-- social media buttons and Copyright  -->
            <div class="buttonSocial">
                <button><i class="fa-brands fa-square-facebook"></i></button>
                <button><i class="fa-brands fa-instagram"></i></button>
                <button><i class="fa-brands fa-whatsapp"></i></button>
            </div>
            <div>
                <h6 class="copyRight">@C.AdmiradoConstruciones2022</h6>
            </div>

        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>