<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admirado Construcciones</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/CSS/projects.css">
    <link rel="stylesheet" href="/CSS/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8347f32279.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <section class="top-bar-header">
            <!-- Logo -->
            <img src="img/logo.JPG" id="logo" alt="Logo">
            <!-- Navbar -->
            <nav class="navbar">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="links">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Proyectos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Quienes Somos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="#">Contacto</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>

        </section>
    </header>
    <!-- Projects Area -->
    <main>
        <section class="projects">
            <div id="accordion">
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseOne">
                            Obras Blancas
                        </a>
                    </div>
                    <div id="collapseOne" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="imgAccordionContainer"> 
                                <img src="img/carousel/carousel.JPG" alt="imgAccordion" id="imgAccordion">
                            </div>
                            <div class="imgdescription">
                                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos non suscipit
                                    hic illo, iusto, nesciunt, iure repudiandae corrupti possimus velit deserunt illum
                                    minima qui in! Molestias totam dolor quisquam natus.</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseTwo">
                            Construcciones Livianas
                        </a>
                    </div>
                    <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="imgAccordionContainer"> 
                                <img src="img/carousel/carousel.JPG" alt="imgAccordion" id="imgAccordion">
                            </div>
                            <div class="imgdescription">
                                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos non suscipit
                                    hic illo, iusto, nesciunt, iure repudiandae corrupti possimus velit deserunt illum
                                    minima qui in! Molestias totam dolor quisquam natus.</h6>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <a class="collapsed btn" data-bs-toggle="collapse" href="#collapseThree">
                            Construcciones en General
                        </a>
                    </div>
                    <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
                        <div class="card-body">
                            <div class="imgAccordionContainer"> 
                                <img src="img/carousel/carousel.JPG" alt="imgAccordion" id="imgAccordion">
                            </div>
                            <div class="imgdescription">
                                <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos non suscipit
                                    hic illo, iusto, nesciunt, iure repudiandae corrupti possimus velit deserunt illum
                                    minima qui in! Molestias totam dolor quisquam natus.</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section class="description">
            <!-- Form and Description -->
            <div class="textContact">
                <h6><strong>Contactanos</strong></h6>
            </div>
            <div>
                <h6 class="textDescription">
                    Como empresa de remodelación de interiores, ofrecemos los mejores servicios y precios del meracdo
                    con una mano de obra bien capacitada, para tener una buena satisfacion y integridad en sus proyectos
                </h6>
            </div>
            <div class="formContactContainer">
                <form action="" class="formContact">
                    <label for=""><strong>Nombre:</strong></label>
                    <input type="text">
                    <label for=""><strong>Email:</strong></label>
                    <input type="email">
                    <label for=""><strong>Dejanos tu comentario</strong></label>
                    <textarea name="comentario" id="" cols="30" rows="10"></textarea>
                    <button class="formButton" type="submit">Enviar</button>
                </form>
            </div>
        </section>
        <section class="social">
            <!-- social media buttons and Copyright  -->
            <div class="buttonSocial">
                <button><i class="fa-brands fa-square-facebook"></i></button>
                <button><i class="fa-brands fa-instagram"></i></button>
                <button><i class="fa-brands fa-whatsapp"></i></button>
            </div>
            <div>
                <h6 class="copyRight">@C.AdmiradoConstruciones2022</h6>
            </div>

        </section>

    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
        </script>

</body>

</html>