*{
    box-sizing: border-box;
}

body{
    font-family: Inter;
    font-size: 12px;
}
.top-bar-header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* background-color: brown; */
}

#logo{
    max-width:50%;
    /* background-color: aqua; */

}
/* NavBAR */
.navbar{
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: blue; */
    width: 100%;
    /* background-color: aqua; */

}
.container-fluid{
    padding: 10% 0% 10% 15%;
    width: 50%;
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    /* flex-direction: column; */
}
.navbar-toggler{
    display: flex;
    width: 40%;
    align-self: center;
}

/* Carousel */
.bottom-bar-header{
    display: flex;
    justify-content: center;

}
#carouselExample{
    width: 90%;
    border: solid 10px blue;
    border-radius: 10%;

}

/* About us */
main{
    background-color: brown;
}
.aboutUs{
    background-color: blue;
    padding: 10%;
    margin: 3%;
}
.imgAboutUS img{
    width: 100%;
}

/* Project Area */

.projects{
    background-color: blue;
    padding: 10%;
    margin: 3%;
}

/* Form and Description */
.description{
    background-color: blue;
    padding: 10%;
    margin: 3%;
}

/* social media buttons and Copyright */
.social{
    background-color: blue;
    padding: 10%;
    margin: 3%;
}