* {
    box-sizing: border-box;
}

body {
    font-family: Inter;
    font-size: 12px;
}

.top-bar-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    /* background-color: brown; */
}

#logo {
    max-width: 50%;
    /* background-color: aqua; */

}

/* NavBAR */
.navbar {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: blue; */
    width: 100%;
    /* background-color: aqua; */

}

.container-fluid {
    padding: 10% 0% 10% 15%;
    width: 50%;
    display: flex;
    /* background-color: blue; */
    justify-content: center;
    /* flex-direction: column; */
}

.navbar-toggler {
    display: flex;
    width: 40%;
    align-self: center;
}

/* Carousel */
.bottom-bar-header {
    display: flex;
    justify-content: center;

}

#carouselExample {
    width: 95%;
    border: solid 10px transparent;
    border-radius: 2%;
    padding: 5%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
    

}

/* About us */
main {
    /* background-color: brown; */
}

.aboutUs {
    /* background-color: blue; */
    padding: 10%;
    margin: 3%;
    border: solid 10px transparent;
    border-radius: 2%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
}

.imgAboutUS img {
    width: 100%;
}

.textAboutUs{
    margin-top: 5%;
    font-size: 12px;
}

/* Project Area */

.projects {
    /* background-color: blue; */
    padding: 10%;
    margin: 3%;
    border: solid 10px transparent;
    border-radius: 2%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
}
.textProjects{
    font-size: 12px;
}
.buttonProjects{
    width: 100%;
    padding: 3%;
    border: solid 3px blue;
    border-radius: 5%;
}
.buttonProjects a {
    text-decoration: none;
    color: black;
}

/* Form and Description */
.description {
    /* background-color: blue; */
    padding: 10%;
    margin: 3%;
    border: solid 10px transparent;
    border-radius: 2%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100)
}
.textDescription{
    font-size: 12px;
}
.formContact{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.formButton{
    margin-top: 5%;
    width: 100%;
    padding: 3%;
    border: solid 3px blue;
    border-radius: 5%;
}
/* social media buttons and Copyright */
.social {
    /* background-color: blue; */
    /* display:flex; */
    /* flex-wrap: nowrap; */
    /* flex-direction: column; */
    padding: 10% 10% 0% 10%;
    margin: 3%;
    border: solid 10px transparent;
    border-radius: 2%;
    align-items: center;
    justify-content: space-around;

    box-shadow: 0px 0px 10px rgb(100, 100, 100)  
}
.buttonSocial{
    /* padding: 5%; */
    margin-bottom: 5%;
    /* width: auto; */
    display: flex;
    flex-direction: row;
}
.buttonSocial button{
    width: 90%;
    margin: 0% 5% 0% 5%;
    border: none;
    background-color: white;

}
.copyRight{
    font-size: 12px;
    text-align: center;
}